# folders
.idea/
.venv/
__pycache__/
trained-lora-model/
tmp_trainer/
ft-distilbert/
stanford-cars-dataset/


# file types
*.safetensors
*.bak
*.$$$
*.lance

# special files (too large and not neccessary):
language_of_flowers.html
embeddings.csv
distances.csv
distances*.csv
book_description.html
stanford-cars-dataset.zip
sam_vit_l_0b3195.pth
